#socila-media-section {
  background-color: rgba(248, 239, 239, 1);
  padding: 14px 0px 17px 0px;
}

#soc-media-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  color: rgba(51, 51, 51, 1);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 14px;
}

.text {
  max-width: 365px;
  margin: 0px 15px;
}
.text p {
  color: rgba(134, 135, 139, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
}

.icons a i {
  color: rgba(134, 135, 139, 1);
  font-size: 2.625rem;
  margin-right: 2rem;
  transition: 0.6s;
}

#lst-ch {
  margin-right: 0px;
}

.icons a:nth-child(even) :hover {
  transform: scale(1.1) rotate(360deg);
  color: cornflowerblue;
  text-shadow: 2px 2px 8px #0000ff;
}

.icons a:nth-child(odd) :hover {
  transform: scale(1.1) rotate(-360deg);
  color: rgba(236, 121, 121, 1);
  text-shadow: 2px 2px 8px #ff0000;
}

@media (max-width: 768px) {
  .text {
    width: 45%;
    margin: 0px 5px;
  }
  .icons {
    width: 50%;
    margin: 0px 5px;
  }
  .icons a i {
    font-size: 2rem;
    margin-right: 1rem;
  }
}
