.info-cards {
  padding: 68px 0 0 0;
}

.info__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.awesome-card {
  width: 350px;
  padding: 20px;
  transition: 0.2s;
}

.awesome-card:hover {
  box-shadow: 2px 2px 2px grey, 4px 4px 2px #c76637, inset 2px 2px 2px grey,
    inset 4px 4px 2px #c76637;
  top: -4px;
  left: -4px;
}

.card__img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(231, 36, 36, 1);
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.card__title {
  color: rgba(51, 51, 51, 1);
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.card__text p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

span {
  text-transform: lowercase;
}
