.info-cards {
  padding: 68px 0 0 0;
}

.info__wrap {
  display: flex;
  justify-content: space-between;
}

.card__content {
  padding: 20px;
}

.card__img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(231, 36, 36, 1);
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.card__title {
  color: rgba(51, 51, 51, 1);
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.card__text {
  width: 350px;
}

.card__text p {
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

span {
  text-transform: lowercase;
}
