#axit-section {
  background-image: url("../img/axit_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 99px 0px 112px 0px;
}

#axit-section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#axit-main-logo {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

#axit-main-span-logo {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  color: rgba(236, 121, 121, 1);
  text-transform: uppercase;
}

#axit-main-head {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  max-width: 544px;
}

.heading-text {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 10;
  font-family: "Open Sans";
  max-width: 272px;
}

.heading-text::before {
  content: "";
  width: 64px;
  height: 1px;
  background-image: url("../img/line_white.png");
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 34px;
}

.axit-link {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 10;
}

.axit-link-name {
  width: 135px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  line-height: 42px;
  font-size: 15px;
  text-align: center;
  position: relative;
  transition: 0.3s;
}

.axit-link-name:hover {
  background: #786b59;
  color: #ffe;
}

.form {
  position: relative;
  z-index: 5;
  display: inline;
  background-color: rgba(255, 255, 255, 1);
}

#form-axit-main {
  width: 370px;
  border-radius: 8px;
}

.form-body {
  padding: 15px 59px 61px 59px;
  /* line-height: 56px; */
  text-align: center;
}

.form-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: rgba(51, 51, 51, 1);
  line-height: 27px;
  margin-bottom: 44px;
}

#form-title-span {
  color: rgba(236, 121, 121, 1);
  text-transform: uppercase;
}

.input-item {
  width: 100%;
}

.input-label {
  color: rgba(189, 189, 189, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  display: block;
  margin-top: 16px;
  text-align: left;
}

.input-label:first-child {
  margin-top: 0px;
}

#axit-button {
  width: 100%;
  line-height: 54px;
  border-radius: 0px 0px 8px 8px;
  border: none;
}

#axit-button:hover {
  border-radius: 8px;
}
