.header {
  background-color: rgba(0, 0, 0, 1);
}

.header-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  line-height: 50px;
}

#axit-header-logo {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

#axit-header-span-logo {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  color: rgba(236, 121, 121, 1);
  text-transform: uppercase;
}

.navigation a {
  margin: 0px 15px;
  font-size: 15px;
  font-family: "Open Sans", "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  /* border-bottom: 3px solid transparent; */
  padding-bottom: 4px;
  text-decoration: none;
  background: no-repeat 0 100%;
  background-image: linear-gradient(to right, white, rgba(236, 121, 121, 1));
  background-size: 0% 2px;
}

.navigation a:hover {
  color: aliceblue;
  /* border-bottom: 3px solid transparent;
  border-image: linear-gradient(0.25turn, white, rgba(236, 121, 121, 1));
  border-image-slice: 1; */
  background-size: 100% 2px;
}

/* .navigation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, white, salmon 100%);
  transition: 0.5s;
}
.navigation a:hover::after {
  width: 100%;
  left: 0;
} */
